extensions:
	orisai.auth: OriNette\Auth\DI\AuthExtension

orisai.auth:
	authorizationData: @builder::build()

services:
	builder:
		factory: Orisai\Auth\Authorization\AuthorizationDataBuilder
		setup:
			- addPrivilege('always-pass')
			- addPrivilege('never-pass')

	- Tests\OriNette\Auth\Doubles\AlwaysPassPolicy
	- Tests\OriNette\Auth\Doubles\NeverPassPolicy
