extensions:
	orisai.auth: OriNette\Auth\DI\AuthExtension

orisai.auth:
	authorization:
		data: @builder::build()

services:
	builder: Orisai\Auth\Authorization\AuthorizationDataBuilder

	abstractPolicy: Tests\OriNette\Auth\Doubles\NotImplementedPolicy
