extensions:
	orisai.auth: OriNette\Auth\DI\AuthExtension

orisai.auth:
	authorization:
		data: @builder::build()

services:
	builder:
		factory: Orisai\Auth\Authorization\AuthorizationDataBuilder
		setup:
			- addRole('role')
			- addPrivilege('privilege')
