extensions:
	orisai.auth: OriNette\Auth\DI\AuthExtension

orisai.auth:
	authorization:
		data:
			factory: @builder::build()
			autowired: false

services:
	builder: Orisai\Auth\Authorization\AuthorizationDataBuilder
