extensions:
	orisai.auth: OriNette\Auth\DI\AuthExtension

orisai.auth:
	authorization:
		dataCreator: @creator

services:
	builder:
		factory: Orisai\Auth\Authorization\AuthorizationDataBuilder
		setup:
			- addRole('role')
			- addPrivilege('privilege')
	creator: Orisai\Auth\Authorization\SimpleAuthorizationDataCreator
