extensions:
	nette.http: Nette\Bridges\HttpDI\HttpExtension
	nette.session: Nette\Bridges\HttpDI\SessionExtension
	orisai.auth: OriNette\Auth\DI\AuthExtension

orisai.auth:
	authorization:
		data: @builder::build()

services:
	builder: Orisai\Auth\Authorization\AuthorizationDataBuilder
