extensions:
	orisai.auth: OriNette\Auth\DI\AuthExtension

orisai.auth:
	authorization:
		data: @data

services:
	builder: Orisai\Auth\Authorization\AuthorizationDataBuilder
	data:
		factory: @builder::build()
		autowired: false
